src/main/resources/attachment.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.maasdianto.com/attachment"
	xmlns:attachment="http://www.maasdianto.com/attachment"
	elementFormDefault="qualified">
	
	<element name="Entity">
		<complexType>
			<sequence>
				<element name="id" type="int" />
			</sequence>
		</complexType>
	</element>
	
	<complexType name="Attachment">
		<complexContent>
			<extension base="entity">
			</extension>
		</complexContent>
	</complexType>

</schema>